@import url("https://use.typekit.net/ylg0ybk.css");

.container {
	display: flex;
	vertical-align: bottom;
}

.bericht, .berichtDonker, .emoji {
	animation-name: invliegen;
	animation-duration: 4s;
}

@keyframes invliegen {
	from {
	    opacity: 0;
	    transform: translate(-100%, 0);
	  }

	to {
	    opacity: 1;
	    transform: translate(0, 0);
	  }
}

/*
@keyframes uitvliegen {
	from {
	    opacity: 1;
	  }

	to {
	    opacity: 0;
	    transform: translate(100%, 0);
	  }
}
*/


#mijnDigitaleKlok {
	display: flex;
	font-family: 'brandon-grotesque', 'sans-serif';
	color: #141414;
	font-size: 6em;
	justify-content: center;
	/*align-items: center;*/ /*waarom werkt dit niet?????*/
	margin: 0;
}

.avond > #mijnDigitaleKlok {
	color: #DEDEDE;
}

.nacht > #mijnDigitaleKlok {
	color: #DEDEDE;
}

.ochtend, .middag {
	background-color: #FAFAFA;

	transition: 2s;
}

.avond, .nacht {
	background-color: #141414;

	transition: 2s;
}

.emoji {
	display: flex;
	justify-content: center;
	margin: 0;
	margin-top: 50%; /*dan maar zo*/
}

.bericht, .berichtDonker {
	display: flex;
	justify-content: center;
	font-family: 'brandon-grotesque', 'sans-serif';
	font-weight: normal;
	font-style: italic;
	font-size: 1.8em;
	margin: 0;
	align-self: center; /*waarom werkt dit niet????*/
}

.bericht {
	color: #141414;
}

.berichtDonker {
	color: #DEDEDE;
}

.geenBericht {
	display: none;
}

/*M E D I A   Q U E R I E S*/
/*TABLET*/
@media only screen and (min-width: 480px) and (max-width: 991px){
	#mijnDigitaleKlok {
		font-size: 10em;
	}

	.emoji {
		margin-top: 40%;
	}
}

/*DESKTOP*/
@media only screen and (min-width: 992px){
	#mijnDigitaleKlok {
		font-size: 15em;
	}

	.emoji {
		margin-top: 10%;
	}

	.bericht, .berichtDonker {
		font-size: 2.8em;
	}
}
